:root {
  --title-color: #212121;
  --hero-color: #FFFFFF;
  --background-color: #FFFFFF;
  --fon-color: #2F303A;
  --accent-color: #2196f3;
  --text-color: #757575;
  --addres-text: rgba(255, 255, 255, 0.6);
  --background-button: #F5F4FA;
}
.nav-text.current {
  color: var(--accent-color);
}
.body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--background-color);

}
.nav-list,
.contacts,
.specifics-list,
.ocupation-list,
.team-list,
.address-list,
.portfolio-filtr-link,
.project-link,
.location-link {
  list-style: none;
}
.header {
  display: flex;
}
.logo-title {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-head {
  color: var(--title-color);
}
.logo-footer {
  color: var(--hero-color);
}
.nav {
  display: flex;
}
.nav-list {
  display: flex;
  column-gap: 50px;
  margin-left: 93px;
}
.nav-link {
  font-weight: 500;
  color: var(--title-color);
}
.nav-text {
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-color);
}
.contacts {
  column-gap: 50px;
  display: flex;
}
.hero {
  padding: 200px 0;
  background: var(--fon-color);
}
.hero-title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  max-width: 696px;
  text-align: center;
  margin: 0 auto;
  line-height: 1.36;
  color: var(--hero-color);
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: var(--hero-color);width: 216px;
  padding: 10px 32px;
  margin: 40px auto 0;
  border: none;
  cursor: pointer;
  background: var(--accent-color);
  border-radius: 4px;
  display: block;
}
.specifics {
  display: flex;
}
.specifics-list {
  display: flex;

}
.specifics-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);  
}
.specifics-text {
  font-size: 14px;
  line-height: 1.14;
  color: var(--text-color);
}
.ocupation-list {
  display: flex;
  column-gap: 30px;
  margin: auto;
}
.ocupation-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-color);
}
.personal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-color);
}
.personal-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--text-color);
}
.contacts-link {
  font-weight: 500;
  color: var(--text-color);
}
.portfolio-filtr-list {
  display: flex;
  column-gap: 8px;
  margin: 0 auto;
}
.button-filtr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background: var(--background-button);
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-color);
}
.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: var(--text-color);
}
.project-item {
  text-decoration: none;
}
.location-text {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  color: var(--hero-color);
}
.contacts-text {
  text-decoration: none;
  color: var(--text-color);
}
.nav-list .contacts :hover,
.header :focus {
  color: var(--accent-color);}
.nav-link :hover,
.nav-link :focus {
  color: var(--accent-color);
}
.contacts-link :hover,
.contacts-link :focus {
  color: var(--accent-color);
}
.footer {
  background: var(--fon-color);
}
.address {
  margin-left: 215ps;
}
.address-text {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  color: var(--addres-text);
}
.address-link :hover,
.address-link :focus {
  color: var(--accent-color);
  
}
.portfolio-filtr-link :hover,
.portfolio-filtr-link :focus {
  color: var(--hero-color);
  background-color: var(--accent-color);
}